In [23]:
# Librerías
# Para leer/guardar archivos en formato pickle
import pickle

# Para el manejo y análisis de estructuras de datos
import pandas as pd

In [26]:
# Leer el archivo
df = pd.read_pickle("datos/1-bikes-eda.pkl")
df.head()

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
1,2018-01-01,winter,0,1,1,0,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,2018-01-02,winter,0,1,0,1,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,2018-01-03,winter,0,1,0,2,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,2018-01-04,winter,0,1,0,3,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,2018-01-05,winter,0,1,0,4,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [27]:
df.dtypes

dteday        datetime64[ns]
season              category
yr                  category
mnth                category
holiday             category
weekday             category
workingday          category
weathersit          category
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

Realizamos "encoding" (codificación) a la columna categórica "season", ya que algunos algoritmos de machine learning no pueden procesar datos si no son numéricos.

Se le va a dar orden, por eso se va a utilizar el método map, puesto que nosotros establecemos dicho orden.

In [28]:
# Definir el mapa a aplicar
mapa_season = {"spring": 3, "summer": 4, "autumn": 2, "winter": 1}

In [29]:
# Aplicar el método map
df["season"] = df["season"].map(mapa_season)

In [30]:
df.head()

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
1,2018-01-01,1,0,1,1,0,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,2018-01-02,1,0,1,0,1,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,2018-01-03,1,0,1,0,2,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,2018-01-04,1,0,1,0,3,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,2018-01-05,1,0,1,0,4,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [31]:
# Para comprobar que tiene los valores adecuados
df["season"].unique()

[1, 3, 4, 2]
Categories (4, int64): [2, 3, 4, 1]

In [32]:
# Guardar en pickle
df.to_pickle('datos/3-bikes-encoding-con-orden.pkl')